html,
body {
    width: 100%;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

nav {
    display: grid;
    grid-template-columns: 75fr 25fr;
    grid-template-rows: 1fr;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
}

img {
    width: 150px;
}

.rightsideofnav a {
    text-decoration: none;
    font-size: 18px;
    color: #30acba;
    margin: 5px;
    transition: 300ms all ease;
    padding: 5px 10px;
    border-radius: 5px;
}

.rightsideofnav a:hover {
    background-color: #0096ad;
    color: white;
}

.rightsideofnav {
    display: flex;
    justify-content: space-around;
}

button {
    color: white;
    background-color: gray;
    border-radius: 2px;
    padding: 10px 15px;
    border: none;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disappear {
    display: none !important;
}

main .inputblock {
    display: flex;
    flex-direction: column;
}

.wrapper h1 {
    text-align: center;
}

input,
textarea {
    transition: 200ms all ease;
    border: none;
    outline: 1px solid rgb(139, 139, 139);
}

.newprojectpage textarea {
    resize: none;
}

.newprojectpage input:focus,
.newprojectpage textarea:focus {
    outline: 1px solid rgb(66, 165, 251);
    box-shadow: 0 0 5px 4px rgb(66, 165, 251);
}

label {
    color: #9da1ab;
    margin-bottom: 5px;
}

.buttondiv {
    display: flex;
    justify-content: center;
}

.default {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.default h1 {
    text-align: center;
    font-size: 45px;
}

.default .links {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    text-wrap: nowrap;
}

.link a {
    padding: 5px 95px;
    background-color: lightgray;
    color: rgb(82, 82, 82);
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
    transition: 300ms all ease;
}

.link a:hover {
    background-color: #5e6a73;
    color: white;
}

.newprojectpage{
    width: 50%;
}

.newprojectpage input {
    padding: 8px 11px;
}

.newprojectpage h1 {
    font-size: 60px;
    text-align: center;
}

.newprojectpage button {
    margin: 10px;
}

.newprojectpage textarea{
    padding: 10px;
}

.newprojectpage {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width:1050px) {
    .links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .textnexttoicon {
        display: none;
    }

    .newprojectpage h1 {
        font-size: 50px;
    }

    .newprojectpage{
        width: 75%;
    }
}