html,
body {
    width: 100%;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,span,h3{
    cursor: default;
}

body {
    display: grid;
    grid-template-rows: 10fr 90fr;
    grid-template-columns: 1fr;
    gap: 10px;
}

nav {
    display: grid;
    grid-template-columns: 75fr 25fr;
    grid-template-rows: 1fr;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
}

img {
    width: 150px;
}

.rightsideofnav a {
    text-decoration: none;
    font-size: 18px;
    color: #30acba;
    margin: 5px;
    transition: 300ms all ease;
    padding: 5px 10px;
    border-radius: 5px;
}

.rightsideofnav a:hover {
    background-color: #0096ad;
    color: white;
}

.rightsideofnav {
    display: flex;
    justify-content: space-around;
}

button {
    color: white;
    background-color: gray;
    border-radius: 2px;
    padding: 10px 15px;
    border: none;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disappear {
    display: none !important;
}

main .inputblock {
    display: flex;
    flex-direction: column;
}

.wrapper h1 {
    text-align: center;
}

input[type='text'],input[type='email'],input[type='password']
textarea {
    transition: 200ms all ease;
    border: none;
    outline: 1px solid rgb(139, 139, 139);
}

textarea {
    resize: none;
}

.newprojectpage input:focus,
.newprojectpage textarea:focus {
    outline: 1px solid rgb(66, 165, 251);
    box-shadow: 0 0 5px 4px rgb(66, 165, 251);
}

label {
    color: #9da1ab;
    margin-bottom: 5px;
}

.buttondiv {
    display: flex;
    justify-content: center;
}

.default {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.default h1 {
    text-align: center;
    font-size: 45px;
}

.default .links {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    text-wrap: nowrap;
}

.link a {
    padding: 5px 95px;
    background-color: lightgray;
    color: rgb(82, 82, 82);
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
    transition: 300ms all ease;
}

.link a:hover {
    background-color: #5e6a73;
    color: white;
}

.newprojectpage {
    width: 50%;
}

.newprojectpage input {
    padding: 8px 11px;
}

.newprojectpage h1 {
    font-size: 60px;
    text-align: center;
}

.newprojectpage button {
    margin: 10px;
    transition: 300ms all ease;
}

.newprojectpage button:hover {
    background-color: rgb(101, 101, 101);
}

.newprojectpage textarea {
    padding: 10px;
}

.newprojectpage {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width:1050px) {
    .links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .textnexttoicon {
        display: none;
    }

    .newprojectpage h1 {
        font-size: 50px;
    }

    .newprojectpage {
        width: 75%;
    }
}

.projectList {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 25px 0;
    gap: 25px;
    padding: 0 50px;
    justify-content: space-evenly;
}

.project {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 250px; 
}

.newProjectPart1 {
    display: flex;
    background-color: #2c3235;
    color: aliceblue;
    padding: 20px;
    justify-content: space-between;

    & h3 {
        font-weight: 100;
        margin-bottom: 15px;
    }
}

.newProjectPart1 span,
.newProjectPart1 i {
    font-size: 13px;
}

.newProjectPart2 {
    display: flex;
    align-items: center;
    padding: 20px;
}

.newProjectPart3 {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f3f3f1;
    justify-content: space-between;
}

.newProjectPart3 .fa-trash-can {
    padding: 10px 23px 10px 10px;
    font-size: 15px;
    background-color: red;
    border-radius: 5px;
}

.userCount,
.commentCount {
    padding: 5px;
    background-color: #59646e;
    color: white;
    border-radius: 5px;
    margin: 0 9px 0 5px;
}

.inputBlockSettings{
    display: flex;
    flex-direction: column;
}

.settingsPage{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 80fr 20fr;
    grid-template-rows: 1fr;
}

.wrapperOfInputBlock{
    display: flex;
}
.settingMain{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0098b2;
}
aside{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#overview{
    background-color: #0098b2;
}
#deleteproject{
    background-color: transparent;
    color: #869093;
}
.inputBlockSettings{
    width: 65%;
}
.inputBlockSettings input{
    padding: 8px;
}

.wrapperOfInputBlock{
    display: flex;
    gap: 20px;
    align-items: center;
}

.wrapperInsideMain{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 75%;
}